@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

#canvas-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
}

.scroll {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
}

.dark {
  color: black;
}

.bg-dark {
  background: #000000;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  line-height: 4rem;
  color: #ffffff;
}

body {
  cursor: none;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav div {
  display: inline;
  padding: 50px;
  text-decoration: none;
  color: white;
  line-height: 100px;
  cursor: none;
}

nav span {
  pointer-events: none;
}

.summary {
  color: white;
  font-family: 'Barlow', sans-serif;
}

.summary .word:hover {
  color: red;
}

.summary .char:hover {
  color: black;
}

.visit {
  width: 275px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.visit > span::after {
  display: block;
  width: 100%;
  height: 100%;
  content: ' ';
  background: #60009957;
  mask: url("mask.png");
  mask-size: 7100% 100%;
  animation: ani 0.7s steps(70) forwards;
  border-radius: 50%;
}

.visit:hover > span::after {
  animation: ani2 0.7s steps(70) forwards;
}

.visit > span {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
  border: 1px solid #9c88ff;
}

.visit > span > span {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Barlow', sans-serif;
}

.nextPage {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  cursor: none;
}

.nextPage svg {
  pointer-events: none;
}

.black-screen {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 2000;
  overflow: hidden;
}

.black-screen-exit,
.black-screen-enter {
  position: absolute;
  width: 0;
  min-height: 100vh;
  height: 100%;
  background: black;
  z-index: 1000;
  overflow: hidden;
}

.black-screen-exit {
  right: 0;
}

svg {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

text {
  font-size: 2.25rem;
  line-height: 2.5rem;
  fill: white;
  font-family: 'Barlow', sans-serif;
}

.rect-anim {
  width: 100%;
  height: 100%;
  fill: red;
}

.rect-current {
  width: 100%;
  height: 100%;
  fill: blue;
}

.customInput {
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  height: 40px;
  width: calc(100% - 40px);
  background: #ffffff;
  border: none;
  outline: none;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 20px 20px;
}

.customTextarea {
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  height: 350px;
  width: calc(100% - 40px);
  background: white;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 20px 20px;
  resize: none;
}
